.add-user-btn {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.user-table {
    width: 100%;
    font-weight: 500;
    th {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #00000061;
    }
    td {}
}